body {
background-color:#474747;
}

.logo {
	height:80px;
	width:80px;
	float: left;
	padding-top: -15px;
	padding-left: 15px;

}

.container {
	width: 95%;
	top: auto;
	margin: 5 auto;
}

header {
	height: 75px;
	width: 100%;
	background-color:#4cff9c;
}

header::after {
	content:'';
	display: table;
	clear: both;
}
nav {
	float: right;
}

nav ul {

	list-style: none;

}

nav li {
	display: inline-block;
	margin-left: 65px;
	top: -65px;
	padding-right: 5px;

	position: relative;
}

nav a {
	color:black;
	text-decoration:none;
	text-transform: uppercase;
	font-size: 14px;

}

nav a:hover {
	color: white;
	text-decoration: underline;

}

nav a::before {
	content:'';
	display: block;
	height: 5px;
	background-color:black;

	top: -15px;
	position: absolute;

	width: 0%;

	transition: all ease-in-out 250ms;

}

nav a:hover::before {
	width: 100%;


}
